### Clean up data

Sometimes, unwanted data needs to be deleted.
Each of the screenshot data was manually checked, and was moved to the wrong/ directory

In [1]:
%ls -lh ../data/csv

합계 2.8M
-rw-rw-r-- 1 im9uri im9uri 2.8M  8월  8 15:33 3f80cca8.csv
drwxrwxr-x 2 im9uri im9uri 4.0K  8월  8 11:53 final/
drwxrwxr-x 2 im9uri im9uri 4.0K  8월  8 15:10 preprocess/

In [2]:
import pandas as pd
import os

In [3]:
os.path.dirname(os.getcwd())

'/home/im9uri/PycharmProjects/europilot'

In [4]:
parent_path = os.path.dirname(os.getcwd())

csv_file = '3f80cca8'
csv_file_name = csv_file + '.csv'
csv_dir_path = os.path.join(parent_path, 'data', 'csv')
csv_file_path = os.path.join(csv_dir_path, csv_file_name)

img_dir_path =  os.path.join(parent_path, 'data', 'img', 'raw')
img_output_dir_path = os.path.join(img_dir_path, csv_file)
img_wrong_dir_path = os.path.join(parent_path, 'data', 'img', 'wrong')

In [5]:
df = pd.read_csv(csv_file_path, header=0)
old_rows_count = df.shape[0]
print("%d rows" % df.shape[0])
df.head(3)

29092 rows

,img,wheel-axis,clutch,brake,gas,paddle-left,paddle-right,wheel-button-left-1,wheel-button-left-2,wheel-button-left-3,...,shifter-button-2,shifter-button-3,shifter-button-4,gear-1,gear-2,gear-3,gear-4,gear-5,gear-6,gear-R
0,3f80cca8_2017_08_08_13_48_32_14.jpg,0,14448,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3f80cca8_2017_08_08_13_48_32_24.jpg,0,15222,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3f80cca8_2017_08_08_13_48_32_34.jpg,0,15222,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Get wrong image list

In [6]:
wrong_list = os.listdir(img_wrong_dir_path)

In [7]:
wrong_list = [x for x in wrong_list if csv_file in x]

In [8]:
len(wrong_list)

1325

Get index of each wrong image

In [9]:
def get_index(i):
    return df[df['img'] == i].index.tolist()[0]

In [10]:
wrong_list_index = [get_index(i) for i in wrong_list]

Remove the rows, and save the modified csv file

In [11]:
df = df.drop(df.index[wrong_list_index])

In [12]:
df.shape[0]

27767

In [13]:
assert(df.shape[0] + len(wrong_list) == old_rows_count)

In [14]:
df.to_csv(csv_file_path, index=False)

Check to see that it was saved well

In [15]:
df = pd.read_csv(csv_file_path, header=0)
print("%d rows" % df.shape[0])
df.head(3)

27767 rows

,img,wheel-axis,clutch,brake,gas,paddle-left,paddle-right,wheel-button-left-1,wheel-button-left-2,wheel-button-left-3,...,shifter-button-2,shifter-button-3,shifter-button-4,gear-1,gear-2,gear-3,gear-4,gear-5,gear-6,gear-R
0,3f80cca8_2017_08_08_13_48_32_14.jpg,0,14448,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3f80cca8_2017_08_08_13_48_32_24.jpg,0,15222,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3f80cca8_2017_08_08_13_48_32_34.jpg,0,15222,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Move img files to respective output directory. (To indicate that we have looked at the images, and removed the "wrong" images)

In [16]:
if not os.path.exists(img_output_dir_path):
    os.makedirs(img_output_dir_path)

In [25]:
for f in df['img']:
    old_path = os.path.join(img_dir_path, f)
    new_path = os.path.join(img_output_dir_path, f)
    os.rename(old_path, new_path)

Delete wrong images from wrong directory

In [26]:
for f in wrong_list:
    remove_file_path = os.path.join(img_wrong_dir_path, f)
    os.remove(remove_file_path)

In [27]:
os.listdir(img_wrong_dir_path)

[]

temp

In [5]:
df = pd.read_csv('../data/csv/final/v2.csv', header=0)
old_rows_count = df.shape[0]
print("%d rows" % df.shape[0])
df.head(3)

134728 rows

,img,wheel-axis,clutch,brake,gas,paddle-left,paddle-right,wheel-button-left-1,wheel-button-left-2,wheel-button-left-3,...,gear-1,gear-2,gear-3,gear-4,gear-5,gear-6,gear-R,front,side_left,side_right
0,15be80cb_2017_07_28_22_46_40_26.jpg,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15be80cb_2017_07_28_22_46_40_26_front.jpg,15be80cb_2017_07_28_22_46_40_26_left.jpg,15be80cb_2017_07_28_22_46_40_26_right.jpg
1,15be80cb_2017_07_28_22_46_40_36.jpg,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15be80cb_2017_07_28_22_46_40_36_front.jpg,15be80cb_2017_07_28_22_46_40_36_left.jpg,15be80cb_2017_07_28_22_46_40_36_right.jpg
2,15be80cb_2017_07_28_22_46_40_46.jpg,0,0,55732,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15be80cb_2017_07_28_22_46_40_46_front.jpg,15be80cb_2017_07_28_22_46_40_46_left.jpg,15be80cb_2017_07_28_22_46_40_46_right.jpg

In [6]:
img_list = df['img']

In [7]:
img_list = [f for f in img_list if '7d590ce8' in f]

In [9]:
len(img_list)

42236

In [13]:
for f in img_list:
    img_path = '../data/img/raw/7d590ce8/' + f
    if not os.path.isfile(img_path):
        print f